@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');

body{
    font-family:Epilogue;
    background-color: hsl(0, 0%, 98%);
}
.dropdown{
    display: inline;
    padding-left: 0px;
}
ul{
    display: flex;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    font-size: 15px;
    text-align: left;
}
a:hover{
    color: hsl(0, 0%, 8%);
}
ol{
    cursor: pointer;
    width: 100px;
    margin-right:0px;
    text-align: center;
}
.nav{
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    position: relative;
    height: 50px;
    margin-top: 0px;
    top:0px;
    width: 97%;
    color: hsl(0, 0%, 41%);
}
.container{
    display: flex;
    flex-flow: nowrap;
    width: inherit;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
}
.fluf{
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
    width: inherit;
}
.firstpart,.secondpart{
    display: flex;
    flex-flow: nowrap;
    width: 600px;
}
.firstpart{
    justify-content: flex-start;

}
.secondpart{
    justify-content: flex-end;
}

.loreg,.manav{
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    flex-basis: 300px;
    align-items: center;
    margin: 0px;
    padding-left: 0px;
}
.loreg ol,.loreg a{
    padding: 0px;
    margin: 0px;
}
.login{
    margin: 0px;
    padding: 0px;
}

.register{
    top: 0px;
    width: 90px;
    height: 40px;
    color: hsl(0, 0%, 41%);
    border-radius: 13px;
    border-color: hsl(0, 0%, 41%);
    border-style: solid;
    background-color: hsl(0, 0%, 98%);
    border-width: 1px;
    margin:0px;
    font-weight: 500;
    font-family: Epilogue;
    padding: 0px;
}
.learn:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
}
.register:hover{
    cursor: pointer;
    border-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

.logo{
    margin-top: 10px;
    margin-left: 10px;
    margin-right:0px ;
    width: inherit;
    height: 40px;
}
.dropdown {
    float: left;
    overflow: hidden;
    margin-right: 20px;
}


.navbar a:hover, .dropdown:hover #dropbtn, #dropbtn:focus {
    background-color:hsl(0, 0%, 98%);
}
.dropdown-content {
    display: none;
    padding-top: 10px;
    margin-top: 10px;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
}
.dropdown-content img{
    align-items: center;
}
.dropdown-content a {
    color: hsl(0, 0%, 41%);
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    align-items: center;
    text-align: left;
}
.dropdown-content a:hover {
    color: hsl(0, 0%, 8%);
}
.show {
    display: block;
}
.arrow.n, .arrowe.n{
    content: url(icon-arrow-up.svg);
}

.main{
    display: flex;
    padding: 40px 100px;
    display:flex ;
}
.im{
    width: 400px;
}
.head1{
    font-size: 80px;
    padding-top: 100px;
    width: 530px;
}
.par{
    font: 20px;
    line-height: 25px;
    width: 400px;
    color: hsl(0, 0%, 41%);
}
.part1{
    margin-right: 200px;
}
.bottom{
    margin-top: 60px;
}
.bottom img{
    padding-right: 30px;
}
button{
    font-family: Epilogue;
}
.learn{
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border-color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    border-width: 1px;
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 600;
}
#menu{
    display: none;
}
@media screen and (max-width:800px){
    html{
        width: 98%;
        padding: 0px;
        margin: 0px;
    }
    body{
        display: flex;
        flex-wrap: wrap;
        width: inherit;
        padding: 0px;
        margin: 0px;
    }
    .main{
        display: flex;
        flex-direction:column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        width: inherit;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;

    }
    .im{
        content: url(image-hero-mobile.png);
        width:inherit;
        height: inherit;
        padding-left: 0px;
        margin-left: 0px;
        padding-right: 0px;
        margin-right: 0px;

    }
    .part2{
        align-items: center;
        width:inherit;
        padding-left: 0px;
        margin-left: 0px;
        align-items: center;
        padding-right: 0px;
    }
    .part1{
        text-align: center;
        padding-left: 20px;
        padding-top: 0px;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        width: inherit;
        align-items: center;
        justify-content: center;
    }
    .head1{
        padding-top: 30px;
        margin-top: 0px;
        font-size: 50px;
        width: inherit;
    }
    #menu{
        display: inline;
        cursor: pointer;
        margin-right: 0px;
    }
    .nav{
        width: inherit;
        margin-right: 0px;
    }
    .loreg,.manav{
        display: none;
    }
    .par{
        justify-content: center;
        width: inherit;
    }
    .container{
        width: 87%;
        margin-right: 0px;
    }
        
    
    .learn{
        cursor: pointer;
        background-color: hsl(0, 0%, 8%);
        color: hsl(0, 0%, 98%);
    }
    .secondpart{
        margin-left: 0px;
        margin-right: 0px;
    }

    .bottom img{
        padding-right: 10px;
    }
    .bottom{
        width: inherit;
    }
    .nav.res ol {
        float: none;
        display: block;
        margin-bottom: 10px;
        background-color: hsl(36, 100%, 99%);
        width: 90%;
        text-align: left;
        background-attachment: fixed;
        text-decoration: none;
        color: hsl(0, 0%, 41%);
    }
    .nav.res a,.nav.res .dropdown{
        display: block;
        width: 90%;
        text-align: left;
    }
    .nav.res .manav ol{
        margin-bottom: 30px;
    }

    .nav.res .manav{
        display:block;
        z-index: 1;
    }
    .dropdown{
        display: block;
    }
    .nav.res .dropdown-content{
        position: relative;
        margin-top: -29px; 
        padding-top: 0px;
        margin-left: 30px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 0px;
    }
    .nav.res #menu  {
        float:right;
        display: block;
        background-color: hsl(36, 100%, 99%);
        text-align: right;
        position: fixed;
        width:50%;
        height:100% ;
        padding-right: 20px;
        padding-top: 30px;
        right: 0;
        top: 0;
        background-size: 100px;
    }
    .nav.res .container{
        display: block;
        width: inherit;
    }
    
    .nav.res .fluf,.nav.res .loreg{
        display: block;
        width: 50%;
        right: 0;
        margin-top: 30px;
        padding-top: 30px;
        position: fixed;
        background-attachment: fixed;
        background-position:right;
        background-repeat: no-repeat;
        height: 100%;
        z-index: 1;
        background-color: hsl(36, 100%, 99%);
        float: right;
    }
    .nav.res .loreg{
        display:flexbox;
        justify-content: center;
        align-content: center;
        text-align:center ;
        height: 10%;
        transform:translateX(50px);
    }.nav.res .secondpart{
        display: flexbox;
        width: inherit;
        justify-content:center ;
    }
    .nav.res .register{
        width:60%
    }
}
